* {
    font-family: 'Roboto', sans-serif;
}

.card {
    border-radius: 8px;
}

.card_gradient {
    border-radius: 8px;
    background: linear-gradient(60.68deg, #F18627 8.69%, #FEE140 103.26%);
}

.card_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.32px;

    color: #FFFFFF;
}